body, html, header
{
    width: 100%;
    margin: 0;
    background-color: #bbe8f3;
}

body
{
    height: 100%;
}

header
{
    height: 25vh;
}

/*nav*/
/*{*/
    /*background: #1b9bb6;*/
    /*position: fixed;*/
    /*height: 5vh;*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/

#banner
{
    background: url("https://arkay2.alwaysdata.net/resources/img/banner.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*.nav-button*/
/*{*/
    /*float: right;*/
    /*height: 80%;*/
    /*background: lightblue;*/
    /*border: 0;*/
    /*border-radius: 5px;*/
    /*color: #136e81;*/
/*}*/

.bg-custom-primary
{
    background: #1b9bb6;
}

.bg-custom-light
{
    background: rgba(255, 255, 255, 0.44);
}