body, html, header
{
    width: 100%;
    margin: 0;
}

body
{
    height: 100%;
}

header
{
    height: 25vh;
}

nav
{
    background: #1b9bb6;
    position: fixed;
    height: 5vh;
    width: 100%;
    display: inline-block;
}

#banner
{
    background: url("https://arkay2.alwaysdata.net/resources/img/banner.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#nav_connect_button
{
    float: right;
    height: 80%;
    background: lightblue;
    border: 0;
    border-radius: 5px;
    color: #136e81;
}

#nav_connect_button:after {
    clear: both;
    height: 0;
    width: 100%;
    content: '';
    display: block;
}